.heroCardCampaign {
  background-color: #0f766e;
}

.heroCardWorkflow {
  background-color: #4338ca;
}

.heroCardLoader {
  background-color: #065f46;
}

.heroOverlayCampaign {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 28%, #0f766e 82%);
}

.heroOverlayWorkflow {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 28%, #4338ca 82%);
}

.heroOverlayLoader {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 28%, #065f46 82%);
}
